:root {
  --bg-card: #969fad;
  --bg-blue-dark: #1f334b;
  --spacing: 8px;
  --text-color: #799ed4;
  --orange: #fc7614;
}

/* #root {
  display: grid;
  place-content: center;
} */

body {
  background-color: red;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: grid;
  place-content: center;
}
.card__wrapper {
  background-color: #181e27;
  width: min(calc(100% - var(--spacing) * 6), 25.75rem);
  margin-inline: auto;
  border-radius: calc(var(--spacing) * 3);
}

.rating_card {
  /* --spacing: 24px; */

  padding-block-start: calc(var(--spacing) * 3);
  padding-inline: calc(var(--spacing) * 3);
  padding-block-end: calc(var(--spacing) * 4);
  color: var(--text-color);
}

.rating_card_image {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-blue-dark);
  border-radius: 50%;
  color: var(--text-color);
  margin-block-end: calc(var(--spacing) * 2);
  /* margin-block-start: 24px; */
  /* border: 5px solid red; */
}

h1 {
  margin-block-end: calc(var(--spacing) * 2);
}

.rating_card_text {
  margin-block-end: calc(var(--spacing) * 3);
}

.rating_card_ratings {
  display: flex;
  column-gap: calc(var(--spacing) * 2);
  justify-content: space-between;
}

.rating_card_rating {
  outline-color: transparent;
  border: none;
  display: flex;
  width: 42px;
  height: 42px;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-blue-dark);
  border-radius: 50%;
  color: var(--text-color);
  transition: all 0.3s;
  margin-block-end: calc(var(--spacing) * 4);
}

.rating_card_rating:hover,
:focus {
  background-color: #fc7614;
  color: var(--bg-blue-dark);
  cursor: pointer;
}

.rating_card_rating:active {
  background-color: white;
  color: var(--bg-blue-dark);
}

.btn_submit {
  display: inline-block;
  width: 100%;
  background-color: var(--orange);
  outline-color: transparent;
  border: none;
  padding-block: calc(var(--spacing) * 2);
  text-align: center;
  border-radius: 1000px;
  transition: all 0.3s;
}

.btn_submit:hover,
:focus {
  background-color: white;
}

/* Thanks Card Styles */

.thanks_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: calc(var(--spacing) * 3);
  padding-block: calc(var(--spacing) * 4);
}

.thanks_card_img {
  margin-block-end: calc(var(--spacing) * 3);
}
.thanks_card_rating {
  background-color: var(--bg-blue-dark);
  color: var(--orange);
  margin-block-end: calc(var(--spacing) * 3);
  padding: calc(var(--spacing) * 1.5);
  border-radius: calc(var(--spacing) * 3);
  padding-inline: calc(var(--spacing) * 3);
}

.thanks_card_thanks {
  font-size: 24px;
  color: white;
}

.thanks_card_text {
  color: var(--text-color);
  text-align: center;
}
